.back {
  background-color: #F2F2F2;
  font-family: Verdana;
}

.header {
  background-color: white;
  height: 50;
  font-weight: bold;
  font-size: 20px;
}

.wrapper {
  display: grid;
  margin: 5;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding:5px;
}

.box {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

label {
  display: inline-block;
  background-color: #0074aa;
  color: white;
  padding: 0.5rem;
  margin: 5;
  font-family: monospace;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
